html, body {
    height: 100%;
}

body {
    font-family: "Century Gothic", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24pt;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    width: 300px;
    padding: 10px 20px 20px;
    background-color: #EEEEEE;
    border-radius: 20px;
    box-shadow: 0 0 0 2px black,
    0 0 10px rgba(0, 0, 0, 1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 9px;
    margin-left: 5px;
    font-size: 14pt;
}

input {
    width: 92%;
    padding: 10px;
    border: 1px solid black;
    font-size: 12pt;
    border-radius: 10px;
}

button {
    width: 300px;
    padding: 10px;
    background-color: #B5D8FF;
    color: black;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14pt;
}

button:hover {
    background-color: #5490D4 ;
}

button:active {
    background-color: #81bcfc;
}

.registration {
    color: #333;
    text-align:right;
    margin-right: 5px;
}

.error {
    color: red;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
}